.article {
  width: 40%;
  height: 70%;
  background-color: rgba(14, 13, 13, 0.548);
  backdrop-filter: blur(20%);
  margin-bottom: 0rem;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #85969e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  .info {
    padding-top: 10rem;
    text-align: center;
  }

  p {
    font-size: 18px;
    color: white;
    // padding-top: 8rem;
  }

  h2 {
    color: white;
  }

  img {
    width: 100%;
    height: 50%;
    top: 0%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
  }

  .btns {
    clear: both;
    position: absolute;
    bottom: 3%;
  }

  button {
    border: none;
    background: none;
    font-size: 20px;
    padding: 0rem 2rem;
    color: antiquewhite;
    cursor: pointer;

    &:hover {
      color: orange;
    }
  }
}
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .article {
    padding-top: 8rem;
    width: 30rem;
    height: 45vh !important;
    margin: 0;

    .info {
      padding-bottom: 8rem;
    }
    img {
      height: 50%;
    }

    p {
      font-size: 17px;
    }
    .btns {
      bottom: 3% !important;
    }
  }
}

@media (max-width: 700px) {
  .article {
    width: 80%;
    height: 35vh !important;
    margin: 0;
    background-color: aqua;

    .info {
      padding-bottom: 10rem;
    }

    img {
      height: 45%;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }
}
